#dispatch files to site-packages
recursive-include docs *
recursive-include evaluate_service *
recursive-include examples *
include LICENSE
include MANIFEST.in
include README.cn.md
include README.md
include RELEASE.md
include setup.py
recursive-include vega *
recursive-include zeus *
