#dispatch files to site-packages
recursive-include docs *
recursive-include examples *
include LICENSE
include MANIFEST.in
include README.cn.md
include README.md
include RELEASE.md
include Third_Party_Open_Source_Notice
include setup.py
recursive-include vega *
